@charset 'utf-8';
@import url('../header.css');
@import url('../footer.css');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header */
header {
    position: relative;
    top: -18px;
    width: 100%;
    height: 460px;
    background: url("../../image/wedding/Wedding_banner.jpg") no-repeat;
    background-size: cover;
}

header #headwrap #title {
    width: 300px;
    margin: 0 auto;
}

header #title p {
    position: absolute;
    top: 200px;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: #fff;
}
/* 
header #navwrap #nav ul {
    text-align: center;
    list-style: none;
    background-color: transparent
}

header #headerwrap {
    position: relative;
}

header #ham #list {
    position: absolute;
    display: none;
} */

/* sub_section1 */
#sub_section1 {
    width: 100%;
    height: 800px;
    position: relative;
}

#sub_section1 #sec1_wrap {
    width: 1874px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

#sub_section1 img {
    position: absolute;
    right: 0;
    top: 140px;
}

#sub_section1 p {
    position: absolute;
    left: 100px;
    top: 45%;
    text-align: center;
    color: #c5c5c5;
    font: 1.5em "한컴 돋음", arial, sans-serif;
}

#sub_section1 #sub_sec1_more #reser_border {
    position: absolute;
    bottom: 120px;
    left: 45%;
    width: 220px;
    height: 50px;
    border: 2px solid #000;
}

#sub_section1 #sub_sec1_more #reser_border div {
    position: absolute;
    top: 15px;
    left: 55px;
    text-align: center;
    font-size: 1em;
    color: #000;
}



/* sub_section2 */
#sub_section2 {
    width: 100%;
    height: 1320px;
    position: relative;
}

#sub_section2 #sec2_wrap {
    width: 1874px;
    height: 1320px;
    margin: 0 auto;
    position: relative;
}

#sub_section2 img {
    /* width: 1470px; */
    height: 660px;
}


#sub_section2 #sec2_grand1 img {
    position: absolute;
    top: 0;
    left: 0;
}

#sub_section2 #sec2_grand2 img {
    position: absolute;
    bottom: 0;
    right: 0;
}

#sub_section2 #sec2_text1,
#sub_section2 #sec2_text2 {
    display: block;
    position: absolute;
}

#sub_section2 #sec_title_text {
    color: #000;
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
}

#sub_section2 #sec_floor_text {
    color: #999;
    font-size: 1.3em;
    margin-bottom: 30px;
}

#sub_section2 #sec_content_text {
    color: #000;
    font-size: 1.5em;
}

#sub_section2 #sec2_grand1 #sec2_text1 {
    top: 230px;
    right: 10px;
    text-align: center;
}

#sub_section2 #sec2_grand2 #sec2_text2 {
    bottom: 230px;
    left: 65px;
    text-align: center;
}



/* sub_section3 */
#sub_section3 {
    width: 100%;
    height: 580px;
    position: relative;
}

#sub_section3 p {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    padding-top: 60px;

}

#sub_section3 #sec3_wrap {
    width: 1874px;
    margin: 0 auto;
}

/* slider image */
#sub_section3 #contentwrap {
    position: relative;
    width: 100%;
}

/* 09.12 주석처리 */
/* #sub_section3 #slider_wrap{
    width: 1220px;
    margin: 0 auto;
    padding-left: 10px;
}

#sub_section3 #sec3_wrap #contentwrap #slider_wrap a{
    margin: 0 auto;
}

#sub_section3 #slider_wrap img{
    width: 400px;
} */


/* 09.12 신규생성 */
/* 이미지 슬라이드 */
#contentwrap {
    width: 100%;
    height: 580px;
}

#slider_wrap {
    position: relative;
    width: 1448px;
    height: 342px;
    margin: 0 auto;
    overflow: hidden;
}

#slider_wrap #b_slider {
    display: block;
    width: 1448px;
    height: 342px;
    position: absolute;
    background: url('../../image/wedding/slider-all.jpg') no-repeat;
    background-position-x: 0;
    transition: all 1s;
}

#contentwrap #arrow_l:focus+#slider_wrap>#b_slider {
    background-position-x: -1480px;
}

#contentwrap #arrow_r:focus+#slider_wrap>#b_slider {
    background-position-x: 1480px;
}


#sub_section3 #arrow_l {
    position: absolute;
    left: 150px;
    top: 130px;
}

#sub_section3 #arrow_r {
    position: absolute;
    right: 150px;
    top: 130px;
    transform: rotate(180deg);
}


/* sub_section4 */
#sub_section4 {
    width: 100%;
    height: 1200px;
    position: relative;
}

#sub_section4 #sec4_wrap {
    width: 1874px;
    height: 1200px;
    margin: 0 auto;
    position: relative;
}

#sub_section4 #sec4_food img {
    position: absolute;
    top: 0;
    left: 0;
}

#sub_section4 #sec4_wedding img {
    position: absolute;
    right: 0;
    bottom: 0;
}


#sub_section4 p {
    text-align: center;
}

#sub_section4 #sec4_text1 {
    position: absolute;
    right: 100px;
    top: 230px;
}

#sub_section4 #sec4_text2 {
    position: absolute;
    left: 100px;
    bottom: 230px;
}

#sub_section4 #sec_title_text {
    color: #000;
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
}

#sub_section4 #sec_content_text {
    color: #000;
    font-size: 1.5em;
}


/* sub_section5 */
#sub_section5 {
    width: 100%;
    height: 390px;
}

#sub_section5 #sec5_wrap {
    position: relative;
    top: 100px;
    width: 1520px;
    height: 190px;
    border: 1px solid #b99b70;
    background-color: #faf7f3;
    margin: 0 auto;
}

#sub_section5 #sec5_wrap #sec5_guide {
    float: left;
    position: relative;
    left: 100px;
    top: 60px;
    color: #000;
    font-size: 2em;
    font-weight: bold;
}

#sub_section5 #sec5_wrap ul {
    float: left;
    position: relative;
    left: 200px;
    top: 60px;
    margin-right: 100px;
    color: #a98550;
    font-size: 2em;
    font-weight: bold;
}

#sub_section5 #sec5_wrap #sec5_time ul li {
    display: block;
    color: #81807e;
    font-size: 1em;
    font-weight: 400;
}

#sub_section5 #sec5_wrap #sec5_reservation ul li {
    display: block;
    color: #81807e;
    font-size: 1em;
    font-weight: 400;
}








/* ===================================================== */
@media screen and (min-width:500px) and (max-width:1280px) {

    /* sub_section1 */
    #sub_section1 {
        width: 100%;
        height: 700px;
        position: relative;
    }

    #sub_section1 #sec1_wrap {
        width: 1200px;
        height: 700px;
        margin: 0 auto;
        position: relative;
    }

    #sub_section1 img {
        position: absolute;
        right: 0;
        top: 140px;
        width: 1200px;
    }

    #sub_section1 p {
        position: absolute;
        /* left: 100px; */
        top: 35%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        text-shadow: 0 0 4px #000;
        color: #c5c5c5;
        font: 1.5em "한컴 돋음", arial, sans-serif;
        font-weight: bold;

    }

    #sub_section1 #sub_sec1_more #reser_border {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%);
        width: 220px;
        height: 50px;
        border: 2px solid #000;
    }

    #sub_section1 #sub_sec1_more #reser_border div {
        position: absolute;
        top: 15px;
        left: 55px;
        text-align: center;
        font-size: 1em;
        color: #000;
    }



    /* sub_section2 */
    #sub_section2 {
        width: 100%;
        height: 1076px;
        position: relative;
    }

    #sub_section2 #sec2_wrap {
        width: 1200px;
        height: 1076px;
        margin: 0 auto;
    }

    #sub_section2 #sec2_wrap div>img {
        width: 1200px;
        height: auto;
    }


    #sub_section2 #sec2_grand1 img {
        position: absolute;
        top: 0;
        left: 0;
    }

    #sub_section2 #sec2_grand2 img {
        position: absolute;
        top: 538px;
    }

    #sub_section2 #sec2_grand1,
    #sub_section2 #sec2_grand2 {
        width: 1200px;
        height: 538px;
        ;
    }


    #sub_section2 #sec2_grand1 #sec2_text1 {
        display: block;
        width: 1200px;
        height: 538px;
        ;
        position: relative;
        top: 0;
        left: 0;
    }

    #sub_section2 #sec2_grand2 #sec2_text2 {
        display: block;
        width: 1200px;
        height: 538px;
        ;
        position: relative;
        top: 0;
        left: 0;
    }

    #sub_section2 #sec2_grand1 #sec_title_text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        text-shadow: 0 0 4px #000;
        font-size: 3em;
        font-weight: bold;
    }

    #sub_section2 #sec2_grand1 #sec_floor_text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        color: #999;
        font-size: 1.3em;
        color: #fff;
        text-shadow: 0 0 4px #000;
    }

    #sub_section2 #sec2_grand1 #sec_content_text {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 1000px;
        transform: translate(-50%);
        font-size: 1.5em;
        color: #fff;
        text-shadow: 0 0 4px #000;
    }


    #sub_section2 #sec2_grand2 #sec_title_text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 30px;
        font-size: 3em;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 4px #000;

    }

    #sub_section2 #sec2_grand2 #sec_floor_text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.3em;
        color: #fff;
        text-shadow: 0 0 4px #000;
    }

    #sub_section2 #sec2_grand2 #sec_content_text {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 1000px;
        transform: translate(-50%);
        font-size: 1.5em;
        color: #fff;
        text-shadow: 0 0 4px #000;
    }



    /* sub_section3 */
    #sub_section3 {
        width: 100%;
        height: 580px;
        position: relative;
    }

    #sub_section3 p {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        padding-top: 50px;

    }

    #sub_section3 #sec3_wrap {
        width: 1874px;
        margin: 0 auto;
    }




    /* slider image */
    #sub_section3 {
        width: 100%;
    }

    #sub_section3 #sec3_wrap {
        width: 100%;
        height: 580px;
    }

    #sub_section3 #contentwrap {
        width: 1200px;
        height: 380px;
        margin: 0 auto;
    }

    /* 
    477 954
    487 874 */
    #sub_section3 #sec3_wrap #slider_wrap {
        position: relative;
        width: 954px;
        height: 342px;
        margin: 0 auto;
        overflow: hidden;
    }

    #sub_section3 #slider_wrap #b_slider {
        /* display: block; */
        width: 954px;
        height: 342px;
        position: absolute;
        top: 10px;
        left: 0;
        background: url('../../image/wedding/slider-all.jpg') no-repeat;
        background-position-x: 0;
        transition: all 1s;
    }

    #contentwrap #arrow_l:focus+#slider_wrap>#b_slider {
        background-position-x: -1470px;
    }

    #contentwrap #arrow_r:focus+#slider_wrap>#b_slider {
        background-position-x: 1470px;
    }


    #sub_section3 #arrow_l {
        position: absolute;
        left: 10px;
        top: 130px;
    }

    #sub_section3 #arrow_r {
        position: absolute;
        right: 10px;
        top: 130px;
        transform: rotate(180deg);
    }


    /* sub_section4 */
    #sub_section4 {
        width: 100%;
        height: 736px;
        position: relative;
    }

    #sub_section4 #sec4_wrap {
        width: 1000px;
        height: 736px;
        margin: 0 auto;
        /* position: relative; */
    }

    #sub_section4 #sec4_wrap #sec4_food {
        float: left;
        position: relative;
        width: 1000px;
        height: 368px;
    }

    #sub_section4 #sec4_wrap #sec4_food img {
        width: 600px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    #sub_section4 #sec4_wrap #sec4_text1 {
        float: right;
        position: relative;
        top: 0;
        right: 0;
        width: 400px;
        height: 368px;
    }

    #sub_section4 #sec4_wrap #sec4_text1 #sec_title_text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        text-shadow: 0 0 3px #000;
        font-size: 2em;
        font-weight: bold;
    }

    #sub_section4 #sec4_wrap #sec4_text1 #sec_content_text {
        position: absolute;
        top: 40%;
        right: 10%;
        width: 800px;
        text-align: right;
        color: #fff;
        text-shadow: 0 0 3px #000;
        font-size: 1.5em;
    }

    #sub_section4 #sec4_wrap #sec4_wedding {
        float: left;
        position: relative;
        width: 1000px;
        height: 368px;
    }

    #sub_section4 #sec4_wrap #sec4_wedding img {
        width: 600px;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    #sub_section4 #sec4_wrap #sec4_text2 {
        float: left;
        position: relative;
        top: 0;
        left: 0;
        width: 400px;
        height: 368px;
    }

    #sub_section4 #sec4_wrap #sec4_text2 #sec_title_text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        text-shadow: 0 0 3px #000;
        font-size: 2em;
        font-weight: bold;
    }

    #sub_section4 #sec4_wrap #sec4_text2 #sec_content_text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 800px;
        text-align: left;
        color: #fff;
        text-shadow: 0 0 3px #000;
        font-size: 1.5em;
    }



    /* sub_section5 */
    #sub_section5 {
        width: 100%;
        height: 390px;
    }

    #sub_section5 #sec5_wrap {
        position: relative;
        top: 100px;
        width: 1200px;
        height: 190px;
        border: 1px solid #b99b70;
        background-color: #faf7f3;
        margin: 0 auto;
    }

    #sub_section5 #sec5_wrap #sec5_guide {
        float: left;
        position: relative;
        left: 100px;
        top: 60px;
        color: #000;
        font-size: 2em;
        font-weight: bold;
    }

    #sub_section5 #sec5_wrap ul {
        float: left;
        position: relative;
        left: 200px;
        top: 60px;
        margin-right: 100px;
        color: #a98550;
        font-size: 2em;
        font-weight: bold;
    }

    #sub_section5 #sec5_wrap #sec5_time ul li {
        display: block;
        color: #81807e;
        font-size: 1em;
        font-weight: 400;
    }

    #sub_section5 #sec5_wrap #sec5_reservation ul li {
        display: block;
        color: #81807e;
        font-size: 1em;
        font-weight: 400;
    }

}